<div class='profile'>
	{{{back}}}
	{{{avatar}}}
	<div class='profile__lines'>
		{{#each fields}}
			{{{this}}}
		{{/each}}
	</div>
	<div class='profile__buttons'>
		{{{Link class='profile__buttons_edit' text='Изменить данные' onClick=this}}}
		{{{changeData}}}
		{{{changePass}}}
		{{{logout}}}
	</div>
</div>