<div class='chatList'>
	<div class='chatList__header'>
		{{{input}}}
		{{{btnAddChat}}}
	</div>
	<div class='chatList__list'>
		{{#if isLoaded}}
			{{#if chats}}
				{{#each chats}}
					{{{this}}}
				{{/each}}
			{{/if}}
		{{else}}
			Loading...
		{{/if}}
	</div>
	<div class='chatList__bottom'>
		{{{profileLink}}}
	</div>
</div>